@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #9DAAF2;
}
.scroll-bg{
   position: relative;
   
   
   top: 65px;
   /*background-color: blue;*/
   background-color: rgb(255, 255, 255);
   width: 400px;
   display: none;
   flex-direction: row;
   left: 800px;
   
   border-radius: 15px;
   
   padding-bottom: 10px;
   
   z-index: 5;
}
.scroll-div{
    width: 400px;
    /*background-color: rgb(57, 182, 53);*/
    height: 400px;
    overflow: hidden;
   
   

}
.scroll-div:hover{
    overflow-y: scroll;
}
.scroll-object{
    
    font-size: 15px;
    height: auto;
    /*background-color: burlywood;*/
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
.scroll-object-1{
    font-size: 15px;
    height: auto;
    /*background-color: burlywood;*/
    padding-bottom: 10px;
    border-left-color: white;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.name{
    width: 70%;
}
.name h2{
    font-size: 19px;
}
.new{
    width: 30%;
    align-items: center;
    /*background-color: brown;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.new p{
    padding: 1px 13px;
    border: 2px solid #141b5f;
    border-radius: 25px;
    color: rgb(238, 18, 18);
    
}


#item:hover .scroll-bg{
    display: flex;
}


/* style for scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #d1e5ff;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
   background: linear-gradient(to right, #9DAAF2, #141b5f, #141b5f, #141b5f, #141b5f, #141b5f, #9DAAF2);
   border-radius: 4px;
   
}
.scroll-object-1:hover{
    background-color: #f4f5ff;
    border-top-left-radius: 15px;
    
}
.scroll-object:hover{
    background-color: #f4f5ff;
    z-index: 1;
}